# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env

# Virtualenv
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Docker
*.log
docker-compose.override.yml

# VSCode or IDEs
.vscode/
.idea/

# Other
.env.*
